@model IEnumerable<StudentService.Models.Course>

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Courses</h2>
<style>
  
</style>
<div class="row">

    @foreach (var item in Model)
    {

        if (item.DepartmentCode == "CS")
        {


            <div class="col-lg-4 col-md-6">
                <div class="card card-blog">
                    <div class="card-header card-header-image">
                        <a href="#pablo">
                            <img class="img" src="~/assets/img/CS.jpg">
                        </a>
                        <div class="colored-shadow" style="background-image: url(/assets/img/CS.jpg); opacity: 1;"></div>
                    </div>
                    <div class="card-body ">
                        <h6 class="card-category text-danger">
                            <i class="material-icons">Course</i> @Html.DisplayFor(modelItem => item.CourseCode)
                        </h6>
                        <h4 class="card-title">
                        </h4>
                     
                        <div class="col-lg-4 col-md-6">
                            <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#noticeModal">
                                <i class="material-icons">info_outline</i>
                                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="author">
                            <a href="">

                                <span> @Html.DisplayFor(modelItem => item.Department.DepartmentName)</span>
                            </a>
                        </div>
                        <div class="stats ml-auto">
                            <i class="material-icons">schedule</i> CrediteHour-@Html.DisplayFor(modelItem => item.CrediteHour)
                        </div>
                    </div>
                </div>
            </div>

           

        }
        else if (item.DepartmentCode == "DM")
        {


            <div class="col-lg-4 col-md-6">
                <div class="card card-blog">
                    <div class="card-header card-header-image">
                        <a href="#pablo">
                            <img class="img" src="~/assets/img/dm.jpg">
                        </a>
                        <div class="colored-shadow" style="background-image: url(/assets/img/dm.jpg); opacity: 1;"></div>
                    </div>
                    <div class="card-body ">
                        <h6 class="card-category text-danger">
                            <i class="material-icons">Course</i> @Html.DisplayFor(modelItem => item.CourseCode)
                        </h6>
                        <h4 class="card-title">
                            <a href="#pablo">@Html.DisplayFor(modelItem => item.CourseTitle)</a>
                        </h4>
                    </div>
                    <div class="card-footer ">
                        <div class="author">
                            <a href="#pablo">

                                <span> @Html.DisplayFor(modelItem => item.Department.DepartmentName)</span>
                            </a>
                        </div>
                        <div class="stats ml-auto">
                            <i class="material-icons">schedule</i> CrediteHour-@Html.DisplayFor(modelItem => item.CrediteHour)
                        </div>
                    </div>
                </div>
            </div>

        }
        else if (item.DepartmentCode == "GE")
        {


            <div class="col-lg-4 col-md-6">
                <div class="card card-blog">
                    <div class="card-header card-header-image">
                        <a href="#pablo">
                            <img class="img" src="~/assets/img/g.jpg">
                        </a>
                        <div class="colored-shadow" style="background-image: url(/assets/img/g.png); opacity: 1;"></div>
                    </div>
                    <div class="card-body ">
                        <h6 class="card-category text-danger">
                            <i class="material-icons">Course</i> @Html.DisplayFor(modelItem => item.CourseCode)
                        </h6>
                        <h4 class="card-title">
                            <a href="#pablo">@Html.DisplayFor(modelItem => item.CourseTitle)</a>
                        </h4>
                    </div>
                    <div class="card-footer ">
                        <div class="author">
                            <a href="#pablo">

                                <span> @Html.DisplayFor(modelItem => item.Department.DepartmentName)</span>
                            </a>
                        </div>
                        <div class="stats ml-auto">
                            <i class="material-icons">schedule</i> CrediteHour-@Html.DisplayFor(modelItem => item.CrediteHour)
                        </div>
                    </div>
                </div>
            </div>

        }
        else if (item.DepartmentCode == "IS")
        {


            <div class="col-lg-4 col-md-6">
                <div class="card card-blog">
                    <div class="card-header card-header-image">
                        <a href="#pablo">
                            <img class="img" src="~/assets/img/Is.jpg">
                        </a>
                        <div class="colored-shadow" style="background-image: url(/assets/img/Is.jpg); opacity: 1;"></div>
                    </div>
                    <div class="card-body ">
                        <h6 class="card-category text-danger">
                            <i class="material-icons">Course</i> @Html.DisplayFor(modelItem => item.CourseCode)
                        </h6>
                        <h4 class="card-title">
                            <a href="#pablo">@Html.DisplayFor(modelItem => item.CourseTitle)</a>
                        </h4>
                    </div>
                    <div class="card-footer ">
                        <div class="author">
                            <a href="#pablo">

                                <span> @Html.DisplayFor(modelItem => item.Department.DepartmentName)</span>
                            </a>
                        </div>
                        <div class="stats ml-auto">
                            <i class="material-icons">schedule</i> CrediteHour-@Html.DisplayFor(modelItem => item.CrediteHour)
                        </div>
                    </div>
                </div>
            </div>

        }
<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog">
    <div class="modal-backdrop">
        <p>The first step is to create an account at <a href="@Url.Action("pol","Filtr",new { })">Creative Tim</a>. You can choose a social network or go for the classic version, whatever works best for you.</p>

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">How Do You Become an Affiliate?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-8">
                            <strong>1. Register</strong>

                        </div>
                        <div class="col-md-4">
                            <div class="picture">
                                <img src="./assets/img/dg1.jpg" alt="Thumbnail Image" class="rounded img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-8">
                            <strong>2. Apply</strong>
                            <p>The first step is to create an account at <a href="@Url.Action("pol","Filtr",new { id=item.CourseCode,id2="F"})">Creative Tim</a>. You can choose a social network or go for the classic version, whatever works best for you.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="picture">
                                <img src="./assets/img/dg2.jpg" alt="Thumbnail Image" class="rounded img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <p>If you have more questions, don&apos;!</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Sounds good!</button>
            </div>
        </div>
    </div>
</div>
      
    }
</div>

